

<h1>{{nombre}}</h1>


<dl>
    <td>Nombre:</td>
    <dd>{{nombre}}</dd>

    <td>Edad:</td>
    <dd>{{edad}}</dd>

    <td>Función:</td>
    <dd>{{ obtenerNomre() }}</dd>

    <td>Capitalizado:</td>
    <dd>{{NombreCapitalizado}}</dd>

</dl>

  <button
    *ngIf="nombre !== 'SpiderMan🕸'"
    (click)="cambiarNombre()">
    Cambiar Heroe
  </button>

  <button
    *ngIf="edad !== 45"
    (click)="cambiarEdad()">
    Cambiar edad
  </button>

  <button
    (click)="resetForm()"
    class="btn btn-primary mx-2">
    Resetear
  </button>


