
        <h3 style="margin-left: 20px; color: aliceblue;">Agregar <small>{{nuevo.nombre}}</small></h3>
        <hr>
        <form (ngSubmit)="agregar()">

            <input style="margin-left: 20px;"
             type="text"
             placeholder="Nombre"
             name=" nombre"
             [(ngModel)]=" nuevo.nombre"
             />

             <input style="margin-left: 20px;"
             type="number"
             placeholder="poder"
             name="poder"
             [(ngModel)]=" nuevo.poder"
             />

            <button style="margin-left: 20px;"
             type="submit">
              Agregar
            </button>
          </form>

